<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="img speaker-img" style="background-image: url('<%= asset_path('logo.png')%>'); width: 200px; height: 90px;"></div>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item cta mr-md-2"><a href="<%= new_event_path %>" class="nav-link">New Event</a></li>
        <li class="nav-item cta mr-md-2"><a href="<%= questions_path %>" class="nav-link">Questions</a></li>
        <li class="nav-item active"><a href="<%= root_path %>" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="<%= events_path %>" class="nav-link">Event list</a></li>


         <% if current_user %>
          <li class="nav-item"><a href="/profile/<%= current_user.id %>" class="nav-link">Profile</a></li>
          <li class="nav-item">
            <a href="/profile/<%= current_user.id %>" @class="nav-link"></a>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_url, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>