

        <%# if @user && current_user.id == @user.id%>

        <%# end %>

<% if @user %>
  <section class="ftco-section contact-section">
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
          <h1 class="mb-3 bread"><%= @user.name.capitalize %></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h3">Interests:</h2>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h3">Events:</h2>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h3">Contact Information</h2>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3">
          <p><span>Phone:</span> <a href="tel://<%= (@user.phone || '').gsub('+- ', '') %>"><%= @user.phone %></a></p>
        </div>
        <div class="col-md-3">
          <p><span>Email:</span> <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
        </div>
        <div class="col-md-3">
          <p><span>Skype:</span> <a href="#"><%= @user.skype %></a></p>
        </div>
        <div class="col-md-3">
          <p><span>Telegram:</span> <a href="#"><%= @user.telegram %></a></p>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="ftco-section contact-section">
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h3">User not found</h2>
        </div>
      </div>
    </div>
  </section>
<% end %>>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
