<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Schedule</span>
        <h2 class="mb-4"><span>Event</span> Schedule</h2>
      </div>
    </div>
    <div class="ftco-search">
      <div class="row">
        <div class="col-md-12 nav-link-wrap">
          <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <% @event_kinds.each do |kind, index| %>
              <a class="nav-link ftco-animate" id="v-pills-<%= index + 1 %>-tab" data-toggle="pill" href="#v-pills-<%= index + 1 %>" role="tab" aria-controls=<"v-pills-<%= index + 1 %>" aria-selected="false"><%= kind.capitalize %></a>
            <% end %>
          </div>
        </div>

        <div class="col-md-12 tab-wrap">
          <div class="tab-content" id="v-pills-tabContent">
            <% @event_kinds.each do |kind, index| %>
              <div class="tab-pane fade" id="v-pills-<%= index + 1 %>" role="tabpanel" aria-labelledby="v-pills-day-<%= index + 1 %>-tab">
                <% @events.select { |e| e.kind == kind }.each do |event| %>
                  <div class="speaker-wrap ftco-animate d-flex">
                    <div class="img speaker-img" style="background-image: url('<%= asset_path("person_#{index + 1}.jpg")%>');"></div>
                    <div class="text pl-md-5">
                      <span class="time"><%= event.datetime.strftime("%F %T") %></span>
                      <h2><a href="/events/<%= event.id %>"><%= event.description %></a></h2>
                      <h3 class="speaker-name">
                        <a href="/profile/<%= event.event_users.where(role: 'organizer')[0].user_id %>"><%= event.event_users.where(role: 'organizer').map { |u| u.user.name }.join(', ') %></a>
                      </h3>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
